@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

.login-image{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1DBB3;
}

.login-image img{
    width: 950px;
}

.login{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color: #6C63FF;
    font-family: "Roboto", sans-serif;
}

.title{
    margin-bottom: 65px;
    font-size: 30px;
}


.text-login{
    margin-bottom: 25px;
    font-size: 20px;
}

.text-login h3{
    border-right: 4px solid;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18),
    blinking 0.5s infinite step-end alternate ;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
}

#msgerro{
    margin-top: 15px;
    text-align: center;
    display: none;
    font-size: 15px;
    color: red;
}

.body-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

input{
    width: 300px;
    margin-top: 40px;
    height: 45px;
    border:none;
    outline: 0;
    border-bottom: 1px solid #6C63FF;
}

.button-login{
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.button-login button{
    width: 300px;
    height: 35px;
    border: none;
    font-family: "Inter", sans-serif;
    background-color: #6C63FF;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #6C63FF;
}

.button-login button:hover{
    background-color: transparent;
    color: #6C63FF;
    border-color: #6C63FF;
    font-weight: bold;
}

.create-account{
    display: flex;
    gap: 25px;
    font-family: "Inter", sans-serif;
}
a{
    color: #6C63FF;
}

@media only screen and (max-width: 1178px) {
    .container{
        width: 100%;
        height: 100vh;
    }

    .login-image{
        height: 100vh;
    }
}

@media only screen and (max-width: 1045px) {
    .login-image{
        display: none;
    }

    .login{
        width: 100%;
    }
}

@media only screen and (max-width: 512px) {
    h2{
        font-size: 25px;
    }

    h3{
        font-size:18px;
    }
}

@media only screen and (max-width: 325px) {
    input{
        width: 100%;
    }

    .button-login button{
        width: 180px;
    }

    .create-account{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}